#outer{
  text-align: center;
  height: 83%;
  overflow-x: auto;

  #inner{
    background: #116466;
    margin-left: 20%;
    width: 60%;
    color: #D1E8E2;
  }

  h1,h2{
    display: inline-block;
    padding: 5px;
    color: #D9B09C;
  }

  b{
    color: #D9B09C;
  }

  p{
    display: inline-block;
    margin: 5px;
  }
}

