#questionText{
  margin: 50px;
  text-align: center;
  color: #2C3531;
}
#formFieldInputBox{
  display: flex;
  justify-content: center;
}
#formFieldInputField{
  width: 40%;
  text-align: center;
}
#formFieldInputButton{
  text-align: center;
  margin: 20px;
  color: #2C3531;
}
#usersAnswer, #realAnswer{
  resize: none;
  width: 100%;
}
#answersBox{
  text-align: center;
}
#usersAnswerBox, #realAnswerBox{
  width: 500px;
}
#greenDoneIcon{
  color: green;
  font-size: 80px;
  height: 80px ;
  width: 80px;
  vertical-align:middle;
  margin: 20px;
}
#redDisabledIcon{
  color: red;
  font-size: 80px;
  height: 80px ;
  width: 80px;
  vertical-align:middle;
  margin: 20px;
}
.ERModelImage{
  text-align: center;
  margin: 50px;
}
