<div class="container">
  <form [formGroup]="validateStatement">
    <div>
      <h2> {{ questionText }}</h2>
      <mat-form-field>
        <input matInput type="text" placeholder="SQL Stavek" formControlName="statement" required>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" (click)="validateStatementOnClick()">Preizkusi</button>
    </div>
    <div>
      <div>
        <textarea type="text" placeholder="Tvoja rešitev" rows="5" readonly>{{ usersAnswer }}</textarea>
      </div>
      <div>
        <textarea type="text" placeholder="Pravilna rešitev" rows="5" readonly>{{ realAnswer }}</textarea>
      </div>
    </div>
  </form>
</div>
