<div class="container">
  <form [formGroup]="validateStatement">
    <div>
      <h2 id="questionText"> {{ questionText }}</h2>
      <div id="formFieldInputBox">
        <mat-form-field id="formFieldInputField">
          <textarea matInput id="answerInputField" type="text" placeholder="SQL Stavek" formControlName="statement" required cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10"></textarea>
        </mat-form-field>
      </div>

    </div>
    <div id="formFieldInputButton">
      <button mat-raised-button color="primary" (click)="validateStatementOnClick()">Preizkusi</button>
    </div>
    <div id="answersBox">
      <mat-form-field id="usersAnswerBox" *ngIf="showUsersAnswer">
        <div>
          <textarea id="usersAnswer" matInput type="text" cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10" readonly>{{ usersAnswer }}</textarea>
        </div>
      </mat-form-field>
      <mat-form-field id="realAnswerBox" *ngIf="showRealAnswer">
        <div>
          <textarea id="realAnswer" matInput type="text" cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10" readonly>{{ realAnswer }}</textarea>
        </div>
      </mat-form-field>
    </div>
    <div id="iconBox">
      <mat-icon id="green-done-icon" *ngIf="correctIcon">done</mat-icon>
      <mat-icon id="red-disabled-icon" *ngIf="wrongIcon">disabled_by_default</mat-icon>
    </div>
  </form>
</div>
