<div>
  <a mat-raised-button href="/home" color="primary">Domov</a>
  <a mat-raised-button href="/selectQuestion" color="primary">Select</a>
  <a mat-raised-button href="/aggregateQuestion" color="primary">Agregatne funkcije</a>
  <a mat-raised-button href="/groupByQuestion" color="primary">Group by</a>
  <a mat-raised-button href="/orderByQuestion" color="primary">Order by</a>
  <a mat-raised-button href="/havingQuestion" color="primary">Having</a>
  <a mat-raised-button href="/randomQuestion" color="primary">Naključno</a>
</div>
